body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.navbar {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_navbar_column, 
.right_navbar_column {
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}

.right_navbar_column {
    margin-top: 0;
}

.right_navbar_column .navbar_link {
    font-size: 0.85rem;
    padding-left: 0.25rem;
}

.navbar_list_item {
    padding-right: 1rem;
    font-size: 1rem;
}

.navbar_link {
    color: #222;
}

.navbar_link:hover {
    border-bottom: 1px solid #222;
}

.google_apps_icon {
    position: relative;
    top: 0.5rem;
    left: 0.25rem;
    visibility: visible;
}

.google_apps_icon:hover {
    border:none;
}

.google_profile_picture:hover {
    border: none;
}

.profile_picture {
    border-radius: 50%;
}

.wrapping_circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
    visibility: hidden;
}

.wrapping_circle:hover {
    visibility: visible;
}

.profile_picture:hover {
    box-shadow: 0 0 0 3px rgba(60,64,67,0.08);
}



/* Main Section */

.main { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main_container {
    margin-top: 12.5rem;
    text-align: center;
}

.search_section {
    border: 1px solid #dfe1e5;
    width: 36rem;
    display: flex;
    border-radius: 1.5rem;
    margin: 1.8rem auto;
}

#google_search {
    width: 100%;
}

.search_input_field {
    border: none;
    outline: none;
    padding: 0.6rem 0;
    font-size: 1.25rem;
}

.search_input_field:focus {
    outline: none;
    border: none;
}

.loop_icon {
    width: 1.4rem;
}

.microphone_icon {
    width: 1.75rem;
}

.loop_icon, 
.microphone_icon {
    padding: 0 0.75rem;
}

.google_button {
    padding: 0.6rem 1rem;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 5px;
    border: transparent;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.google_button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    border-radius: 5px;
}

.google_button:focus {
    outline-color: blue;
}

.google_language {
    margin-top: 1.6rem;
}

.google_offered_in {
    display: inline;
    font-size: 0.85rem;
}

.language {
    margin-left: 0.4rem;
}